.sortItem {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #dfe5ec;
  background-color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.active {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
  transition: all 0.35s;
}
